<h1 class="pirate">
  Name: <%= @pirate.name %>
  Weight: <%= @pirate.weight %>
  Height: <%= @pirate.height %>
</h1>


<h2 class="ship">
  Name: <%= @ship_name_1 %>
  Type: <%= @ship_type_1 %>
  Booty: <%= @ship_booty_1 %>
</h2>


<h2 class="ship">
  Name: <%= @ship_name_2 %>
  Type: <%= @ship_type_2 %>
  Booty: <%= @ship_booty_2 %>
</h2>
